

.main_header {
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 3.0rem;
    color: #36B5F2;
}

p { margin:0 }

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.user_form {
    padding: 10px 10px 10px 10px;
}

.table > tbody > tr > td {
    vertical-align: middle;
    padding: 2px 0px 0px 2px !important;
    margin: 0 !important;
}

.table > thead > tr > th {
    vertical-align: middle;
    padding: 2px 0px 0px 2px !important;
    margin: 0 !important;
}

.prefix_modal {
    max-height: 100%;
    overflow-y:scroll;
}

.ip_address_number{
    color:#36B5F2;
}

.ip_address_number:hover{
    color:#386BB4;
}

#card {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto ;
    margin-right: auto ;
    background-color: white;
    padding: 0;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}